.log {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: rgb(23, 26, 33);
    border-bottom: 5px solid bisque;
}

.log h1 {
    color: bisque;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 25px;
}

.log a{
    color: forestgreen;
}

.log .log1 label {
    color: bisque;
    line-height: 30px;
    font-size: 20px;
}

.log1 {
    padding-left: 50px;
    padding-top: 72px;
}

.log1 p{
    color: bisque;
}

.reg {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: rgb(23, 26, 33);
}

.reg h1 {
    color: bisque;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 25px;
}

.reg a{
    color: forestgreen;
}

.reg .reg1 label {
    color: bisque;
    line-height: 30px;
    font-size: 20px;
}

.reg1 {
    padding-left: 50px;
    padding-top: 35px;
}

.reg1 p{
    color: bisque;
}